@model List<BioKudi.dto.PlaceDto>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="~/css/listusers.css" rel="stylesheet" />
    <script src="~/js/index.js"></script>

</head>
<body>
    <p class="title">List of Places</p>
    <table>
        <thead>
            <tr>
                IdPlace
            </tr>
            <tr>
                Nombre
            </tr>
            <tr>
                Latitud
            </tr>
            <tr>
                Longitud
            </tr>
            <tr>
                Dirección
            </tr>
            <tr>
                Descripción
            </tr
            <tr>
                Link
            </tr>
            <tr>
                Estado
            </tr>
        </thead>
        <tbody>
            @foreach (var place in Model)
            {
                <tr>
                    <td>
                        @place.IdPlace
                    </td>
                    <td>
                        @place.NamePlace
                    </td>
                    <td>
                        @place.Latitude
                    </td>
                    <td>
                        @place.Longitude
                    </td>
                    <td>
                        @place.Address
                    </td>
                    <td>
                        @place.Description
                    </td>
                    <td>
                        @place.Link
                    </td>
                    <td>
						@place.StateName
                    </td>

                </tr>
            }
        </tbody>
</body>