@model IEnumerable<BioKudi.dto.PictureDto>

@{
    ViewData["Title"] = "Imagenes";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link href="~/css/ListPictures.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="~/js/index.js"></script>

</head>
<div class="body">
<h1>Lista de imagenes</h1>

<p>
    <a asp-controller="Picture" asp-action="Create">Subir imagen</a>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Link
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Link)
                    </td>
                        <td class="acciones">
                        @if (item.IdPicture != null)
                        {
                        <a asp-action="Edit" asp-route-id="@item.IdPicture"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action="Details" asp-route-id="@item.IdPicture"><i class="fa-regular fa-file-lines"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.IdPicture"><i class="fa-solid fa-trash"></i></a>
                        }
                       </td>
                </tr>
            }
    </tbody>
</table>
</div>