@model IEnumerable<BioKudi.dto.ReviewDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
            {
                <tr>
                    <td colspan="4" class="Error">No hay datos para mostrar</td>
                </tr>
            }
        else
            {
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        <p>@item.PlaceId - @item.PlaceName</p>
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.IdReview">Delete</a>
                    </td>
                </tr>
                }
            }
    </tbody>
</table>
