@model IEnumerable<BioKudi.dto.ReviewDto>

@{
    if (User.IsInRole("Admin"))
    {
        Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutEditor.cshtml";
    }
    ViewData["Title"] = "Reseñas";
}
<head>
    <link href="/css/review/review.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>

<h1>Reseñas</h1>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceId)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Any())
        {
            <tr>
                <td colspan="5" class="Error">No hay datos para mostrar</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rate)
                    </td>
                    <td class="comment">
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td class="place">
                        <p>@item.PlaceId - @item.PlaceName</p>
                    </td>
                    <td class="acciones">
                        <a href="#" onclick="showConfirmationDialog(@item.IdReview)"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@Html.AntiForgeryToken()
<script>
    // Popup window function
    function showConfirmationDialog(id) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: '¿Deseas eliminar esta reseña?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Make the delete request to the controller
                $.ajax({
                    url: '@Url.Action("Delete", "Review")/' + id,
                    type: 'POST',
                    data: { '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() },
                    success: function (result) {
                        // Refresh view after successful deletion
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            }
        });
    }
</script>
