@model IEnumerable<BioKudi.dto.ViewModel.ReportAuditViewModel>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Report</title>
</head>
<body>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewAction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Action)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewAction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Action)
            </td>
        </tr>
}
    </tbody>
</table>
</body>
<footer>
    <a>Reporte generado por: @Model.FirstOrDefault()?.UserName</a>
    <a>Fecha: @Model.FirstOrDefault()?.TimePrint</a>
</footer>
</html>
