@model BioKudi.dto.PlaceDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>PlaceDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NamePlace)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NamePlace)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Latitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Longitude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Link)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Link)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StateName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StateName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pictures)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pictures)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reviews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reviews)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityData)
        </dt>
        <td class="text">
            @if (Model.ActivityData == null || Model.ActivityData.Count == 0)
            {
                <p>Sin actividades asociadas</p>
            }
            else
            {
                <ul>
                    @foreach (var activity in Model.ActivityData)
                    {
                        <li>
                            @activity.IdActivity - @activity.Type
                        </li>
                    }
                </ul>
            }
        </td>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPlace">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
