@model IEnumerable<BioKudi.dto.PlaceDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link href="/css/Place.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<div class="body">


    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.NamePlace)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Latitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Longitude)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Link)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StateName)
                </th>
                <th>
                    Acciones
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NamePlace)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Latitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Longitude)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Link)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StateName)
                    </td>
                    <td class="acciones">
                        <a asp-action="Edit" asp-route-id="@item.IdPlace">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.IdPlace">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdPlace">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>