@model IEnumerable<BioKudi.dto.RoleDto>

@{
    ViewData["Title"] = "Roles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<head>
    <link href="/css/Role/Role.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<div class="body">

    <h1>Roles</h1>

    <p>
        <a asp-action="Create">Crear Rol</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Acciones
                </th>

            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="1" class="Error">No hay datos para mostrar</td>
                </tr>
            }
            else
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.NameRole)
                        </td>
                        <td class="acciones">
                            <a asp-action="Edit" asp-route-id="@item.RoleId"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a href="#" onclick="showConfirmationDialog(@item.RoleId)"><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@Html.AntiForgeryToken()
<script>
    // Popup window function
    function showConfirmationDialog(id) {
        Swal.fire({
            title: '¿Estás seguro?',
            text: '¿Deseas eliminar este rol?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.isConfirmed) {
                // Make the delete request to the controller
                $.ajax({
                    url: '@Url.Action("Delete", "Role")/' + id,
                    type: 'POST',
                    data: { '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val() },
                    success: function (result) {
                        // Refresh view after successful deletion
                        window.location.reload();
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            }
        });
    }
</script>